
# extract RGB frames
extract_rgb: true
# extract anonymization masks
extract_masks: true
# extract depth frames
extract_depth: true

# folder where the data is downloaded
data_root: <path to data>

splits: [nvs_sem_train, nvs_sem_val]

scene_ids: [ebff4de90b]